# OS X
.DS_Store

# Unity general
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj

CurrentLayout.dwlt
CurrentMaximizeLayout.dwlt
Library/AtlasCache
Library/ShaderCache
ShaderCache.db
shadercompiler*
CrashedAssetImports.txt


# Unity project specific
Match One-csharp.sln
Match One.sln
