# Windows
Thumbs.db

# Mac
.DS_Store

# Unity
Library
Temp
*.unitypackage
*-CSharp*.csproj

# Xamarin
obj
*.userprefs
test-results

# Rider
.idea/

# Custom
Match-One.sln
Assets/Plugins
Assets/Plugins.meta
Jenny.zip
Jenny.zip.meta
Jenny
